alembic==1.12.1
aiohttp==3.9.0
asyncio
requests==2.31.0
python-dotenv==1.0.0
fake-useragent
openai==1.3.3
langchain==0.0.338
llama_index==0.9.4
tiktoken
bs4==0.0.1
beautifulsoup4==4.12.2
PyYAML
pytest
factory-boy==3.3.0
pytest-mock
unstructured==0.10.30
pydantic==2.5.1
supabase==2.0.3
jinja2
wandb
SQLAlchemy==2.0.23
pgvector==0.2.3