alembic==1.12.1
aiohttp
asyncio
requests==2.31.0
python-dotenv==1.0.0
fake-useragent
openai
langchain==0.0.336
llama_index
tiktoken
bs4==0.0.1
beautifulsoup4==4.12.2
PyYAML
pytest
pytest-mock
unstructured==0.10.28
pydantic
supabase==2.0.3
vecs==0.4.1
jinja2
wandb
SQLAlchemy==2.0.22