alembic==1.13.1
requests==2.31.0

# Langchain tooling
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.16
langchain-openai==0.0.5
langdetect==1.0.9
langsmith==0.0.83

# Web
Flask==3.0.2
Flask-Cors==4.0.0

llama-index==0.9.34
bs4==0.0.1
beautifulsoup4==4.12.2
unstructured==0.11.6
pydantic==2.5.3
pydantic-settings==2.1.0
email-validator==2.1.0.post1
supabase==2.3.0
SQLAlchemy==2.0.23
pgvector==0.2.4
structlog==23.2.0
pytz==2023.3.post1
resend==0.6.0
psycopg2-binary==2.9.9
jose==1.0.0
chalice==1.30.0
openai==1.10.0
python-rapidjson==1.14

## Test dependencies
pytest==7.4.3
factory-boy==3.3.0
